In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv("Bengaluru_House_Data.csv")

In [3]:
df

,area_type,availability,location,size,society,total_sqft,bath,balcony,price
0,Super built-up Area,19-Dec,Electronic City Phase II,2 BHK,Coomee,1056,2.0,1.0,39.07
1,Plot Area,Ready To Move,Chikka Tirupathi,4 Bedroom,Theanmp,2600,5.0,3.0,120.00
2,Built-up Area,Ready To Move,Uttarahalli,3 BHK,NaN,1440,2.0,3.0,62.00
3,Super built-up Area,Ready To Move,Lingadheeranahalli,3 BHK,Soiewre,1521,3.0,1.0,95.00
4,Super built-up Area,Ready To Move,Kothanur,2 BHK,NaN,1200,2.0,1.0,51.00
...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Ready To Move,Whitefield,5 Bedroom,ArsiaEx,3453,4.0,0.0,231.00
13316,Super built-up Area,Ready To Move,Richards Town,4 BHK,NaN,3600,5.0,NaN,400.00
13317,Built-up Area,Ready To Move,Raja Rajeshwari Nagar,2 BHK,Mahla T,1141,2.0,1.0,60.00
13318,Super built-up Area,18-Jun,Padmanabhanagar,4 BHK,SollyCl,4689,4.0,1.0,488.00
13319,Super built-up Area,Ready To Move,Doddathoguru,1 BHK,NaN,550,1.0,1.0,17.00

In [4]:
df.isna().sum()

area_type          0
availability       0
location           1
size              16
society         5502
total_sqft         0
bath              73
balcony          609
price              0
dtype: int64

In [5]:
df1=df[['area_type', 'location', 'size',
       'total_sqft', 'bath', 'price']]
df1

,area_type,location,size,total_sqft,bath,price
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00
...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,231.00
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,400.00
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,488.00
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,17.00

In [6]:
df1.area_type.unique()

array(['Super built-up  Area', 'Plot  Area', 'Built-up  Area',
       'Carpet  Area'], dtype=object)

In [7]:
dummies_areatype=pd.get_dummies(df.area_type).astype('int')
dummies_areatype

       Built-up  Area  Carpet  Area  Plot  Area  Super built-up  Area
0                   0             0           0                     1
1                   0             0           1                     0
2                   1             0           0                     0
3                   0             0           0                     1
4                   0             0           0                     1
...               ...           ...         ...                   ...
13315               1             0           0                     0
13316               0             0           0                     1
13317               1             0           0                     0
13318               0             0           0                     1
13319               0             0           0                     1

[13320 rows x 4 columns]

In [8]:
dummies_areatype.columns

Index(['Built-up  Area', 'Carpet  Area', 'Plot  Area', 'Super built-up  Area'], dtype='object')

In [9]:
dummies_areatype1=dummies_areatype.drop('Super built-up  Area',axis=1)
dummies_areatype1

       Built-up  Area  Carpet  Area  Plot  Area
0                   0             0           0
1                   0             0           1
2                   1             0           0
3                   0             0           0
4                   0             0           0
...               ...           ...         ...
13315               1             0           0
13316               0             0           0
13317               1             0           0
13318               0             0           0
13319               0             0           0

[13320 rows x 3 columns]

In [10]:
df2=pd.concat([df1,dummies_areatype],axis=1)
df2

,area_type,location,size,total_sqft,bath,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area
0,Super built-up Area,Electronic City Phase II,2 BHK,1056,2.0,39.07,0,0,0,1
1,Plot Area,Chikka Tirupathi,4 Bedroom,2600,5.0,120.00,0,0,1,0
2,Built-up Area,Uttarahalli,3 BHK,1440,2.0,62.00,1,0,0,0
3,Super built-up Area,Lingadheeranahalli,3 BHK,1521,3.0,95.00,0,0,0,1
4,Super built-up Area,Kothanur,2 BHK,1200,2.0,51.00,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5 Bedroom,3453,4.0,231.00,1,0,0,0
13316,Super built-up Area,Richards Town,4 BHK,3600,5.0,400.00,0,0,0,1
13317,Built-up Area,Raja Rajeshwari Nagar,2 BHK,1141,2.0,60.00,1,0,0,0
13318,Super built-up Area,Padmanabhanagar,4 BHK,4689,4.0,488.00,0,0,0,1
13319,Super built-up Area,Doddathoguru,1 BHK,550,1.0,17.00,0,0,0,1

In [11]:
df2.bath.isna().sum()

np.int64(73)

In [12]:
df2.bath=df2.bath.fillna(df.bath.mean())

In [13]:

df2.isna().sum()

area_type                0
location                 1
size                    16
total_sqft               0
bath                     0
price                    0
Built-up  Area           0
Carpet  Area             0
Plot  Area               0
Super built-up  Area     0
dtype: int64

In [14]:
df2['size'].unique()

array(['2 BHK', '4 Bedroom', '3 BHK', '4 BHK', '6 Bedroom', '3 Bedroom',
       '1 BHK', '1 RK', '1 Bedroom', '8 Bedroom', '2 Bedroom',
       '7 Bedroom', '5 BHK', '7 BHK', '6 BHK', '5 Bedroom', '11 BHK',
       '9 BHK', nan, '9 Bedroom', '27 BHK', '10 Bedroom', '11 Bedroom',
       '10 BHK', '19 BHK', '16 BHK', '43 Bedroom', '14 BHK', '8 BHK',
       '12 Bedroom', '13 BHK', '18 Bedroom'], dtype=object)

In [15]:
df2['size'].isna().sum()

np.int64(16)

In [16]:
df2['size']=df['size'].apply(lambda x : int(x.split(" ")[0]) if pd.notnull(x) else x)

In [17]:
df2['size']=df2['size'].fillna(df2['size'].mean())

In [18]:
df2['size'].isna().sum()

np.int64(0)

In [19]:
def total_sqft_cleaning(x):
    try:
        parts = str(x).split(" ")
        if len(parts) == 3:
            y, _, z = parts
            return (float(y) + float(z)) / 2
        elif len(parts) == 1:
            return float(parts[0])
        else:
            return np.nan
    except:
        return np.nan

In [20]:
df2.total_sqft=df2.total_sqft.apply(lambda x :total_sqft_cleaning(x))
df2.total_sqft

0        1056.0
1        2600.0
2        1440.0
3        1521.0
4        1200.0
          ...
13315    3453.0
13316    3600.0
13317    1141.0
13318    4689.0
13319     550.0
Name: total_sqft, Length: 13320, dtype: float64

In [21]:
df2.isna().sum()

area_type                0
location                 1
size                     0
total_sqft              46
bath                     0
price                    0
Built-up  Area           0
Carpet  Area             0
Plot  Area               0
Super built-up  Area     0
dtype: int64

In [22]:
df2.total_sqft.unique()

array([1056. , 2600. , 1440. , ..., 1258.5,  774. , 4689. ])

In [23]:
df2.total_sqft=df2.total_sqft.fillna(df2.total_sqft.mean())
df2.total_sqft.isna().sum()

np.int64(0)

In [24]:
df2.groupby('location')['location'].agg('count').sort_values(ascending=False)

location
Whitefield                        540
Sarjapur  Road                    399
Electronic City                   302
Kanakpura Road                    273
Thanisandra                       234
                                 ...
1st Stage Domlur                    1
1st Stage Radha Krishna Layout      1
West of Chord Road                  1
Wheelers Road                       1
 Sector 1 HSR Layout                1
Name: location, Length: 1305, dtype: int64

In [25]:
loc=df2.groupby('location')['location'].agg('count')[lambda x : x < 10].sort_values(ascending=False)
loc=loc.index.tolist()
len(loc)

1052

In [26]:
df2.location=df2.location.apply(lambda x: x if x not in loc else 'other' )

In [27]:
df2.groupby('location')['location'].agg('count')

location
 Devarachikkanahalli           14
1st Block Jayanagar            14
1st Block Koramangala          10
1st Phase JP Nagar             25
2nd Phase Judicial Layout      11
                             ...
Yelahanka                     213
Yelahanka New Town             41
Yelenahalli                    13
Yeshwanthpur                   85
other                        2780
Name: location, Length: 254, dtype: int64

In [28]:
locationnames=df2.groupby('location')['location'].agg('count').index.tolist()
locationnames

[' Devarachikkanahalli',
 '1st Block Jayanagar',
 '1st Block Koramangala',
 '1st Phase JP Nagar',
 '2nd Phase Judicial Layout',
 '2nd Stage Nagarbhavi',
 '5th Block Hbr Layout',
 '5th Phase JP Nagar',
 '6th Phase JP Nagar',
 '7th Phase JP Nagar',
 '8th Phase JP Nagar',
 '9th Phase JP Nagar',
 'AECS Layout',
 'Abbigere',
 'Akshaya Nagar',
 'Ambalipura',
 'Ambedkar Nagar',
 'Amruthahalli',
 'Anandapura',
 'Ananth Nagar',
 'Anekal',
 'Anjanapura',
 'Ardendale',
 'Arekere',
 'Attibele',
 'BEML Layout',
 'BTM 1st Stage',
 'BTM 2nd Stage',
 'BTM Layout',
 'Babusapalaya',
 'Badavala Nagar',
 'Balagere',
 'Banashankari',
 'Banashankari Stage II',
 'Banashankari Stage III',
 'Banashankari Stage V',
 'Banashankari Stage VI',
 'Banaswadi',
 'Banjara Layout',
 'Bannerghatta',
 'Bannerghatta Road',
 'Basapura',
 'Basavangudi',
 'Basaveshwara Nagar',
 'Battarahalli',
 'Begur',
 'Begur Road',
 'Bellandur',
 'Benson Town',
 'Bharathi Nagar',
 'Bhoganhalli',
 'Billekahalli',
 'Binny Pete',
 'Bisuvanahalli',
 'Bommanahalli',
 'Bommasandra',
 'Bommasandra Industrial Area',
 'Bommenahalli',
 'Brookefield',
 'Budigere',
 'CV Raman Nagar',
 'Chamrajpet',
 'Chandapura',
 'Channasandra',
 'Chikka Tirupathi',
 'Chikkabanavar',
 'Chikkalasandra',
 'Choodasandra',
 'Cooke Town',
 'Cox Town',
 'Cunningham Road',
 'Dairy Circle',
 'Dasanapura',
 'Dasarahalli',
 'Devanahalli',
 'Dodda Nekkundi',
 'Doddaballapur',
 'Doddakallasandra',
 'Doddathoguru',
 'Dodsworth Layout',
 'Domlur',
 'Dommasandra',
 'EPIP Zone',
 'Electronic City',
 'Electronic City Phase II',
 'Electronics City Phase 1',
 'Frazer Town',
 'GM Palaya',
 'Ganga Nagar',
 'Garudachar Palya',
 'Giri Nagar',
 'Gollarapalya Hosahalli',
 'Gottigere',
 'Green Glen Layout',
 'Gubbalala',
 'Gunjur',
 'Gunjur Palya',
 'HAL 2nd Stage',
 'HBR Layout',
 'HRBR Layout',
 'HSR Layout',
 'Haralur Road',
 'Harlur',
 'Hebbal',
 'Hebbal Kempapura',
 'Hegde Nagar',
 'Hennur',
 'Hennur Road',
 'Hoodi',
 'Horamavu Agara',
 'Horamavu Banaswadi',
 'Hormavu',
 'Hosa Road',
 'Hosakerehalli',
 'Hoskote',
 'Hosur Road',
 'Hulimavu',
 'ISRO Layout',
 'ITPL',
 'Iblur Village',
 'Indira Nagar',
 'JP Nagar',
 'Jakkur',
 'Jalahalli',
 'Jalahalli East',
 'Jigani',
 'Judicial Layout',
 'KR Puram',
 'Kadubeesanahalli',
 'Kadugodi',
 'Kaggadasapura',
 'Kaggalipura',
 'Kaikondrahalli',
 'Kalena Agrahara',
 'Kalkere',
 'Kalyan nagar',
 'Kambipura',
 'Kammanahalli',
 'Kammasandra',
 'Kanakapura',
 'Kanakpura Road',
 'Kannamangala',
 'Karuna Nagar',
 'Kasavanhalli',
 'Kasturi Nagar',
 'Kathriguppe',
 'Kaval Byrasandra',
 'Kenchenahalli',
 'Kengeri',
 'Kengeri Satellite Town',
 'Kereguddadahalli',
 'Kodichikkanahalli',
 'Kodigehaali',
 'Kodigehalli',
 'Kodihalli',
 'Kogilu',
 'Konanakunte',
 'Koramangala',
 'Kothannur',
 'Kothanur',
 'Kudlu',
 'Kudlu Gate',
 'Kumaraswami Layout',
 'Kundalahalli',
 'LB Shastri Nagar',
 'Laggere',
 'Lakshminarayana Pura',
 'Lingadheeranahalli',
 'Magadi Road',
 'Mahadevpura',
 'Mahalakshmi Layout',
 'Mallasandra',
 'Malleshpalya',
 'Malleshwaram',
 'Marathahalli',
 'Margondanahalli',
 'Marsur',
 'Mico Layout',
 'Munnekollal',
 'Murugeshpalya',
 'Mysore Road',
 'NGR Layout',
 'NRI Layout',
 'Nagadevanahalli',
 'Naganathapura',
 'Nagappa Reddy Layout',
 'Nagarbhavi',
 'Nagasandra',
 'Nagavara',
 'Nagavarapalya',
 'Narayanapura',
 'Neeladri Nagar',
 'Nehru Nagar',
 'OMBR Layout',
 'Old Airport Road',
 'Old Madras Road',
 'Padmanabhanagar',
 'Pai Layout',
 'Panathur',
 'Parappana Agrahara',
 'Pattandur Agrahara',
 'Poorna Pragna Layout',
 'Prithvi Layout',
 'R.T. Nagar',
 'Rachenahalli',
 'Raja Rajeshwari Nagar',
 'Rajaji Nagar',
 'Rajiv Nagar',
 'Ramagondanahalli',
 'Ramamurthy Nagar',
 'Rayasandra',
 'Sadashiva Nagar',
 'Sahakara Nagar',
 'Sanjay nagar',
 'Sarakki Nagar',
 'Sarjapur',
 'Sarjapur  Road',
 'Sarjapura - Attibele Road',
 'Sector 2 HSR Layout',
 'Sector 7 HSR Layout',
 'Seegehalli',
 'Shampura',
 'Shivaji Nagar',
 'Singasandra',
 'Somasundara Palya',
 'Sompura',
 'Sonnenahalli',
 'Subramanyapura',
 'Sultan Palaya',
 'TC Palaya',
 'Talaghattapura',
 'Thanisandra',
 'Thigalarapalya',
 'Thubarahalli',
 'Thyagaraja Nagar',
 'Tindlu',
 'Tumkur Road',
 'Ulsoor',
 'Uttarahalli',
 'Varthur',
 'Varthur Road',
 'Vasanthapura',
 'Vidyaranyapura',
 'Vijayanagar',
 'Vishveshwarya Layout',
 'Vishwapriya Layout',
 'Vittasandra',
 'Whitefield',
 'Yelachenahalli',
 'Yelahanka',
 'Yelahanka New Town',
 'Yelenahalli',
 'Yeshwanthpur',
 'other']

In [29]:
df2.isna().sum()

area_type               0
location                1
size                    0
total_sqft              0
bath                    0
price                   0
Built-up  Area          0
Carpet  Area            0
Plot  Area              0
Super built-up  Area    0
dtype: int64

In [30]:
df2=df2.dropna()

In [31]:
df2.isna().sum()

area_type               0
location                0
size                    0
total_sqft              0
bath                    0
price                   0
Built-up  Area          0
Carpet  Area            0
Plot  Area              0
Super built-up  Area    0
dtype: int64

In [32]:
dummmies_location=pd.get_dummies(df2.location).astype('int')
dummmies_location=dummmies_location.drop('other',axis=1)
dummmies_location

,Devarachikkanahalli,1st Block Jayanagar,1st Block Koramangala,1st Phase JP Nagar,2nd Phase Judicial Layout,2nd Stage Nagarbhavi,5th Block Hbr Layout,5th Phase JP Nagar,6th Phase JP Nagar,7th Phase JP Nagar,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13316,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13317,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13319,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [33]:
df3=pd.concat([df2,dummmies_location],axis=1)
df3

,area_type,location,size,total_sqft,bath,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area,...,Vijayanagar,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur
0,Super built-up Area,Electronic City Phase II,2.0,1056.0,2.0,39.07,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
1,Plot Area,Chikka Tirupathi,4.0,2600.0,5.0,120.00,0,0,1,0,...,0,0,0,0,0,0,0,0,0,0
2,Built-up Area,Uttarahalli,3.0,1440.0,2.0,62.00,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,Super built-up Area,Lingadheeranahalli,3.0,1521.0,3.0,95.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
4,Super built-up Area,Kothanur,2.0,1200.0,2.0,51.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5.0,3453.0,4.0,231.00,1,0,0,0,...,0,0,0,0,1,0,0,0,0,0
13316,Super built-up Area,other,4.0,3600.0,5.0,400.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13317,Built-up Area,Raja Rajeshwari Nagar,2.0,1141.0,2.0,60.00,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
13318,Super built-up Area,Padmanabhanagar,4.0,4689.0,4.0,488.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13319,Super built-up Area,Doddathoguru,1.0,550.0,1.0,17.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0

In [34]:
x=df3.drop(['area_type','location','price'],axis=1)
y=df3.price

In [35]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV
models = {
    LinearRegression: {
        'model': LinearRegression(),
        'params': {}
    },
    Ridge: {
        'model': Ridge(),
        'params': {
            'alpha': [0.1, 1.0, 10.0]
        }
    },
    Lasso: {
        'model': Lasso(),
        'params': {
            'alpha': [0.01, 0.1, 1.0]
        }
    }
}

In [36]:

for name,m in models.items():
    model=m['model']
    params=m['params']
    grid=GridSearchCV(model,params,cv=5)
    grid.fit(x,y)
    print(name)
    print(grid.best_score_*100)
    print(grid.best_params_)

<class 'sklearn.linear_model._base.LinearRegression'>
42.83117050459396
{}
<class 'sklearn.linear_model._ridge.Ridge'>
42.890157051604014
{'alpha': 1.0}
<class 'sklearn.linear_model._coordinate_descent.Lasso'>
42.82840949038626
{'alpha': 0.01}

In [37]:
#outliers removal

In [38]:
len(df3)

13319

In [39]:
#bathrooms should not be more than no of bedrooms
df3=df3[df3['bath'] <= df3['size'] + 1]

In [40]:
df3['sq_per_room']=df3['total_sqft']/df3['size']
df3

C:\Users\YASH\AppData\Local\Temp\ipykernel_3440\3748669689.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df3['sq_per_room']=df3['total_sqft']/df3['size']

,area_type,location,size,total_sqft,bath,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,sq_per_room
0,Super built-up Area,Electronic City Phase II,2.0,1056.0,2.0,39.07,0,0,0,1,...,0,0,0,0,0,0,0,0,0,528.00
1,Plot Area,Chikka Tirupathi,4.0,2600.0,5.0,120.00,0,0,1,0,...,0,0,0,0,0,0,0,0,0,650.00
2,Built-up Area,Uttarahalli,3.0,1440.0,2.0,62.00,1,0,0,0,...,0,0,0,0,0,0,0,0,0,480.00
3,Super built-up Area,Lingadheeranahalli,3.0,1521.0,3.0,95.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,507.00
4,Super built-up Area,Kothanur,2.0,1200.0,2.0,51.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,600.00
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13315,Built-up Area,Whitefield,5.0,3453.0,4.0,231.00,1,0,0,0,...,0,0,0,1,0,0,0,0,0,690.60
13316,Super built-up Area,other,4.0,3600.0,5.0,400.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,900.00
13317,Built-up Area,Raja Rajeshwari Nagar,2.0,1141.0,2.0,60.00,1,0,0,0,...,0,0,0,0,0,0,0,0,0,570.50
13318,Super built-up Area,Padmanabhanagar,4.0,4689.0,4.0,488.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1172.25
13319,Super built-up Area,Doddathoguru,1.0,550.0,1.0,17.00,0,0,0,1,...,0,0,0,0,0,0,0,0,0,550.00

In [41]:
df4=df3[(df3['sq_per_room']>=100) & (df3['sq_per_room'] <= 650)]
len(df4)

10593

In [42]:
df4.describe()

,size,total_sqft,bath,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area,Devarachikkanahalli,1st Block Jayanagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,sq_per_room
count,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,...,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000,10593.000000
mean,2.760335,1308.481042,2.564104,84.604172,0.178703,0.007269,0.144152,0.669876,0.001322,0.001038,...,0.000944,0.001038,0.002926,0.035401,0.001699,0.014538,0.003210,0.001227,0.005853,500.935686
std,1.210513,450.152852,1.158000,74.287291,0.383121,0.084952,0.351260,0.470280,0.036332,0.032209,...,0.030712,0.032209,0.054020,0.184799,0.041189,0.119699,0.056566,0.035012,0.076284,112.801361
min,1.000000,250.000000,1.000000,8.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,100.000000
25%,2.000000,1075.000000,2.000000,47.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,450.000000
50%,3.000000,1202.000000,2.000000,65.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,525.000000
75%,3.000000,1520.000000,3.000000,95.000000,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,585.000000
max,27.000000,10000.000000,27.000000,1400.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,...,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,650.000000

In [43]:

for col in ['size','bath','price']:
    Q1 = df4[col].quantile(0.25)
    Q3 = df4[col].quantile(0.75)
    IQR = Q3 - Q1
    lower_bound = Q1 - 1.5 * IQR
    upper_bound = Q3 + 1.5 * IQR
    df5 = df4[(df4['sq_per_room'] >= lower_bound) & (df4['sq_per_room'] <= upper_bound)]
df5.describe()

,size,total_sqft,bath,price,Built-up Area,Carpet Area,Plot Area,Super built-up Area,Devarachikkanahalli,1st Block Jayanagar,...,Vishveshwarya Layout,Vishwapriya Layout,Vittasandra,Whitefield,Yelachenahalli,Yelahanka,Yelahanka New Town,Yelenahalli,Yeshwanthpur,sq_per_room
count,209.000000,209.000000,209.000000,209.000000,209.000000,209.0,209.000000,209.000000,209.0,209.000000,...,209.000000,209.000000,209.0,209.0,209.0,209.0,209.0,209.0,209.0,209.000000
mean,6.162679,839.631579,5.526316,123.363636,0.066986,0.0,0.899522,0.033493,0.0,0.004785,...,0.014354,0.014354,0.0,0.0,0.0,0.0,0.0,0.0,0.0,138.193249
std,2.186573,286.145594,2.253315,73.471880,0.250597,0.0,0.301359,0.180352,0.0,0.069171,...,0.119231,0.119231,0.0,0.0,0.0,0.0,0.0,0.0,0.0,18.923497
min,2.000000,276.000000,2.000000,23.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,100.000000
25%,4.000000,600.000000,4.000000,78.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,126.666667
50%,6.000000,782.000000,5.000000,98.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.000000
75%,8.000000,1150.000000,7.000000,150.000000,0.000000,0.0,1.000000,0.000000,0.0,0.000000,...,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,150.000000
max,19.000000,2000.000000,16.000000,490.000000,1.000000,0.0,1.000000,1.000000,0.0,1.000000,...,1.000000,1.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,166.666667

In [44]:
xtrain=df5.drop(['area_type','location','price'],axis=1)
ytrain=df5.price

In [45]:
from sklearn.linear_model import LinearRegression, Ridge, Lasso
from sklearn.model_selection import GridSearchCV
models = {
    LinearRegression: {
        'model': LinearRegression(),
        'params': {}
    },
    Ridge: {
        'model': Ridge(),
        'params': {
            'alpha': [0.1, 1.0, 10.0]
        }
    },
    Lasso: {
        'model': Lasso(),
        'params': {
            'alpha': [0.01, 0.1, 1.0]
        }
    }
}

for name,m in models.items():
    model=m['model']
    params=m['params']
    grid=GridSearchCV(model,params,cv=5)
    grid.fit(xtrain,ytrain)
    print(name)
    print(grid.best_score_*100)
    print(grid.best_params_)

<class 'sklearn.linear_model._base.LinearRegression'>
45.793792706089306
{}
<class 'sklearn.linear_model._ridge.Ridge'>
48.01208215910102
{'alpha': 1.0}
<class 'sklearn.linear_model._coordinate_descent.Lasso'>
47.76598599707461
{'alpha': 0.1}

C:\Users\YASH\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.098e+02, tolerance: 7.436e+01
  model = cd_fast.enet_coordinate_descent(

In [46]:
model=Ridge(alpha=1)
model.fit(xtrain,ytrain)
model.score(xtrain,ytrain)*100

70.25253618635335

In [70]:
locationnames=df2.groupby('location')['location'].agg('count').index.tolist()
areatypenames=df2.groupby('area_type')['area_type'].agg('count').index.tolist()

areatypenames

['Built-up  Area', 'Carpet  Area', 'Plot  Area', 'Super built-up  Area']

In [72]:
columns=xtrain.columns
columns
np.savetxt('columns_for_html.txt', columns, fmt='%s')
np.save('columns.npy', columns)
np.save('areatypes.npy',areatypenames)
np.savetxt('areatypes_for_html.txt', areatypenames, fmt='%s')

['Built-up  Area', 'Carpet  Area', 'Plot  Area', 'Super built-up  Area']

In [59]:
def prediction(location, total_sqft, areatype, bedrooms, bathrooms):
    x_input = np.zeros(len(xtrain.columns))  
    x_input[0] = bedrooms
    x_input[1] = total_sqft
    x_input[2] = bathrooms

    loc_col = location
    if loc_col in columns:
        loc_index = columns.get_loc(loc_col)
        x_input[loc_index] = 1

    area_col = areatype
    if area_col in columns:
        area_index = columns.get_loc(area_col)
        x_input[area_index] = 1

    x_df = pd.DataFrame([x_input], columns=columns)
    prediction_value = model.predict(x_df)
    print("Predicted Price:", prediction_value[0]*100000)
prediction('Vittasandra',1500,'Super built-up  Area',3,3)

Predicted Price: 4103327.407317495

In [55]:
import joblib

joblib.dump(model, 'house_price_prediction_model.joblib')

['house_price_prediction_model.joblib']

In [52]:
# Load the model from the file
model = joblib.load('house_price_prediction_model.joblib')

Index(['size', 'total_sqft', 'bath', 'Built-up  Area', 'Carpet  Area',
       'Plot  Area', 'Super built-up  Area', ' Devarachikkanahalli',
       '1st Block Jayanagar', '1st Block Koramangala',
       ...
       'Vishveshwarya Layout', 'Vishwapriya Layout', 'Vittasandra',
       'Whitefield', 'Yelachenahalli', 'Yelahanka', 'Yelahanka New Town',
       'Yelenahalli', 'Yeshwanthpur', 'sq_per_room'],
      dtype='object', length=261)